@charset "ISO-8859-1";

.bg-primary{
	color:burlywood !important;
}

body{
	background-color: antiquewhite;
}

.banner{
	width:100%;
	height:93vh;
	background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5 )) , url(../img/call-center.jpg);
	color:white;
	background-size:cover;
}

.gradient-custom {
/* fallback for old browsers */
background: antiquewhite;

/* Chrome 10-25, Safari 5.1-6 */
/*background: -webkit-linear-gradient(to right, rgb(255, 128, 255), rgba(37, 117, 252, 1));*/

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
*/}

@media only screen and (max-width: 600px){

.sidebar{
	width: 70%;
	height: 100vh;
	background-color: white;
	position: fixed;
	display: none;
}

    .content{
		margin-left: 0% !important ;
	}
}

.sidebar{
	width: 15%;
	height: 100vh;
	background-color: white;
	position: fixed;
	
}

.sidebar a{
	display: block;
	text-decoration: none;
	padding: 15px;
	color: black;
}

.sidebar a:hover{
	background-color: gainsboro;
}

.content{
	margin-top: 45px;
	margin-left: 15%;
}

.crossbtn
{
font-size: 36px;
cursor: pointer;
}
.content.barbtn{
	margin-left: 0 !important;
}

.contact_img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.individual_contact_photo{
	width: 20%;
	height: 20%;
	border-radius: 50%;
	object-fit: cover;
}
